[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
requests = "*"
cryptography = "*"
pyjwt = ">=2.0.1"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
pytest-responses = "*"

[requires]
python_version = "3.9"
